server {
        listen       80;
        server_name  <DOMAIN>;

        return       301 https://$host$request_uri;
}

### TODO: review from POC AWS ###
server {
        listen      443 ssl http2;
        server_name  {{ domain }};

        set $agency_domain '{{ domain }}';
        set $agency_id '{{ agency }}';
        set $agency_application '{{ application }}';

        ### TODO: change to LETSENCRYPT ###
        ssl_certificate /etc/nginx/ssl/{{ certificate }}.crt;
        ssl_certificate_key /etc/nginx/ssl/{{ certificate }}.key;

        include /etc/nginx/common/site_traveltool_rewrites.conf;
        include /etc/nginx/common/site_traveltool_common.conf;

        location / {

            proxy_pass http://www.traveltool.es;
            include /etc/nginx/common/proxy_traveltool.conf;

            if ($request_uri ~* "^/robots.txt") {
                rewrite ^/robots.txt /robots/traveltoolagencias.txt permanent;
            }

            include /etc/nginx/sites-available/<DOMAIN>.d/*.conf;
        }
}