server {
        listen       80;
        server_name  {{ domain }};

        return       301 https://$host$request_uri;
}

### TODO: review from POC AWS ###
server {
        listen      443 ssl http2;
        server_name  {{ domain }};

        {% if certificate == 'wildcard.traveltool.es' %}
        ### TODO: WILCARD CERTIFICATE FOR TRAVELTOOL ###
        {% else %}
        ssl_certificate /etc/letsencrypt/live/{{ certificate }}/fullchain.pem; # managed by Certbot 
        ssl_certificate_key /etc/letsencrypt/live/{{ certificate }}/privkey.pem; # managed by Certbot 
        include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot 
        ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot 
        {% endif %}

        set $agency_domain '{{ domain }}';
        set $agency_id '{{ agency }}';
        set $agency_application '{{ application }}';

        include /etc/nginx/common/site_traveltool_rewrites.conf;
        include /etc/nginx/common/site_traveltool_common.conf;

        location / {

            proxy_pass http://www.traveltool.es;
            include /etc/nginx/common/proxy_traveltool.conf;

            if ($request_uri ~* "^/robots.txt") {
                rewrite ^/robots.txt /robots/traveltoolagencias.txt permanent;
            }

            include /etc/nginx/sites-available/{{ domain }}.d/*.conf;
        }
}